*,
*::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-bottom: 7rem;
}

p {
  line-height: 1.6;
  max-width: clamp(37ch, 72ch, 83ch);
}
.to-top img {
  width: 50px;
}
.to-top {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  border: none;
  border-radius: 99%;
  width: 90px;
  height: 90px;
  box-shadow: 0 5px 5px #000;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.07);
  }
}